.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 70px;
    padding: 10px;

}
.navbar{
    width: 100%;
    background-color: purple;
    color: floralwhite;

}
.header a{
    font-size: 15px;
}
.header a:hover{
    color: purple;
    background-color: floralwhite;
}

h2{
    padding-top: 10px;
}


