.ui-button-text-icon-left .ui-button-text {
  padding: 5px !important;
}

.ui-button-text-only .ui-button-text {
  padding: 5px !important;
}

.mat-stroked-button.small {
  height: 30px;
  min-height: 30px;
  padding: 0;
}

td {
  padding: 3px 10px !important;
  word-break: break-all;
}

.material-icons.small {
  font-size: 16px;
}

.compact {
  padding: 0.25em 0.5em !important;
}

.mat-stroked-button {
  height: 30px;
  min-width: 25px;
  line-height: 0;
  padding-left: 0;
}

.mat-stroked-button.icon {
  padding: 0 5px;
}

.mr-3 {
  margin-right: 1em;
}
